body {

}

#index p {
	color: rgb(123, 65, 106);
}

.container-fluid {
	padding: 10px;
}
#frame {
	background: rgb(249, 165, 155);
	height: auto;
	display: block;
	padding: 10px;
}

#article  {
	background-color: rgb(254, 243, 177);
	margin: 10px -10px 25px 0px;
	padding: 3px;
}

.menu {
	background-color: rgb(254, 243, 177);
	margin: 10px 0px 25px -10px;
	padding: 3px;
}

#title {
	height: 25px;
	width: 100%;
	background: rgb(123, 65, 106);
	padding: 1% 1% 0% 1%;
	color: rgb(254, 243, 177);
	grid-template-columns: 50% 50%;
	display: grid;
	font-weight:bold;
}

#right {
	display: grid;
	justify-items: end;
}

.title-menu {
	height: 25px;
	width: 100%;
	background: rgb(123, 65, 106);
	padding: 2% 2% 0% 2%;
	color: rgb(254, 243, 177);
	font-weight: bold;
}

#profile-picture {
	margin: 3px 0 3px 0;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#read-more a {
	border: none;
	text-align: end;
	text-decoration: none !important;
}

.menu a {
	text-decoration: none !important;
	border-left: 6px solid rgb(123, 65, 106);
	padding: 0 0 0 5%;
	color: rgb(123, 65, 106) !important;
	width: 100%;
	display: grid;
	width: 100%;
	margin-top: 1px;
}

.menu a:hover {
	border-left: 6px solid rgb(254, 243, 177);
	background: rgb(123, 65, 106);
	color: rgb(254, 243, 177) !important;
}


.menu a:active  {
	background: rgb(249, 165, 155);
	border-left: 6px solid rgb(249, 165, 155);
	color: rgb(123, 65, 106) !important;
}

#article a {
	text-decoration: none !important;
	border-bottom: 1px dashed rgb(123, 65, 106);
	color: rgb(123, 65, 106);
}

#article a:hover {
	text-decoration: none !important;
	border: 1px dashed rgb(123, 65, 106);
}

#signature {
	color: rgb(123, 65, 106);
	font-style: italic;
	text-align: right;
}
